# Environment Variables
# Kopyalayıp .env olarak kaydedin

# PostgreSQL
POSTGRES_PASSWORD=ClubSecure2026!
DATABASE_URL=postgresql://clubadmin:ClubSecure2026!@localhost:5432/sosyal_club

# NextAuth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=super-secret-key-degistirin-bunu-uretimde

# Uygulama
NEXT_PUBLIC_APP_NAME=Sosyal Kulüp
